body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color: #feece2;
  }
  
  header {
    padding: 20px;
    background: url("ArkaPlan.jpg") no-repeat center center;
    background-size: cover;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 2rem;
    color: white;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #B67352;
  }
  
  main {
    padding: 20px;
  }
  
  label {
    font-size: 1.2em;
    color: #163020;
  }
  
  input[name="Name"] {
    font-size: large;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: transparent;
  }
  
  #submitBtn {
    background: #8bc34a; /* eski buton rengi */
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 30px auto; /* butonu biraz aşağıya almak için margin arttırıldı */
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 350px;
  }
  
  .logo {
    width: 100px;
    display: block;
    margin: auto;
  }
  
  footer {
    background-color: #B67352;
    padding: 10px 0;
  }
  
  footer p {
    color: black;
    margin: 0;
  }
  
  @media only screen and (max-width: 767px) {
    footer {
        background-color: #B67352;
        padding: 10px 0;
        position: fixed; /* Footer'ı alt kısıma sabitlemek için */
        bottom: 0;
        width: 100%;
    }
    
    footer p {
        color: black;
        margin: 0;
    }
    header {
      padding: 50px;
      height: 35vh;
    }
    h1 {
      font-size: 1.4em;
      color: #B67352;
    }
    input[name="Name"] {
      font-size: large;
      margin: 20px auto;
    }
    #submitBtn {
      font-size: 0.8em;
      padding: 8px 15px;
      margin: 15px auto 30px; /* butonu biraz aşağıya almak için margin arttırıldı */
    }
  }
  